=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class AffiliatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Single-bet cart for affiliate mode
    # Returns live odds across operators for a single event betting market position, overlaid with the calling client's best affiliate offer per operator. Powers the widget's \"Bet Now\" cart for a single selection. Results are scoped to the authenticated client; operators can be gated with operator_ids / operator_keys.
    # @param v1_affiliates_event_position_post_request [V1AffiliatesEventPositionPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_event_position_post(v1_affiliates_event_position_post_request, opts = {})
      data, _status_code, _headers = v1_affiliates_event_position_post_with_http_info(v1_affiliates_event_position_post_request, opts)
      data
    end

    # Single-bet cart for affiliate mode
    # Returns live odds across operators for a single event betting market position, overlaid with the calling client&#39;s best affiliate offer per operator. Powers the widget&#39;s \&quot;Bet Now\&quot; cart for a single selection. Results are scoped to the authenticated client; operators can be gated with operator_ids / operator_keys.
    # @param v1_affiliates_event_position_post_request [V1AffiliatesEventPositionPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_event_position_post_with_http_info(v1_affiliates_event_position_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliatesApi.v1_affiliates_event_position_post ...'
      end
      # verify the required parameter 'v1_affiliates_event_position_post_request' is set
      if @api_client.config.client_side_validation && v1_affiliates_event_position_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_affiliates_event_position_post_request' when calling AffiliatesApi.v1_affiliates_event_position_post"
      end
      # resource path
      local_var_path = '/v1/affiliates/event-position'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_affiliates_event_position_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AffiliatesApi.v1_affiliates_event_position_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliatesApi#v1_affiliates_event_position_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Parlay cart for affiliate mode
    # Returns combined parlay odds per operator, the per-leg single bets, and the calling client's best affiliate offer per operator, with combo deeplinks generated per operator. Powers the widget's \"Bet Now\" cart for a multi-leg bet. Results are scoped to the authenticated client; operators can be gated with operator_ids / operator_keys.
    # @param v1_affiliates_parlay_post_request [V1AffiliatesParlayPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_parlay_post(v1_affiliates_parlay_post_request, opts = {})
      data, _status_code, _headers = v1_affiliates_parlay_post_with_http_info(v1_affiliates_parlay_post_request, opts)
      data
    end

    # Parlay cart for affiliate mode
    # Returns combined parlay odds per operator, the per-leg single bets, and the calling client&#39;s best affiliate offer per operator, with combo deeplinks generated per operator. Powers the widget&#39;s \&quot;Bet Now\&quot; cart for a multi-leg bet. Results are scoped to the authenticated client; operators can be gated with operator_ids / operator_keys.
    # @param v1_affiliates_parlay_post_request [V1AffiliatesParlayPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_parlay_post_with_http_info(v1_affiliates_parlay_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliatesApi.v1_affiliates_parlay_post ...'
      end
      # verify the required parameter 'v1_affiliates_parlay_post_request' is set
      if @api_client.config.client_side_validation && v1_affiliates_parlay_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_affiliates_parlay_post_request' when calling AffiliatesApi.v1_affiliates_parlay_post"
      end
      # resource path
      local_var_path = '/v1/affiliates/parlay'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_affiliates_parlay_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AffiliatesApi.v1_affiliates_parlay_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliatesApi#v1_affiliates_parlay_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
