=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class EventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get upcoming events
    # Returns upcoming events with optional sport and league filters, timezone support, and pagination.
    # @param v1_events_upcoming_events_post_request [V1EventsUpcomingEventsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_events_upcoming_events_post(v1_events_upcoming_events_post_request, opts = {})
      data, _status_code, _headers = v1_events_upcoming_events_post_with_http_info(v1_events_upcoming_events_post_request, opts)
      data
    end

    # Get upcoming events
    # Returns upcoming events with optional sport and league filters, timezone support, and pagination.
    # @param v1_events_upcoming_events_post_request [V1EventsUpcomingEventsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_events_upcoming_events_post_with_http_info(v1_events_upcoming_events_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.v1_events_upcoming_events_post ...'
      end
      # verify the required parameter 'v1_events_upcoming_events_post_request' is set
      if @api_client.config.client_side_validation && v1_events_upcoming_events_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_events_upcoming_events_post_request' when calling EventsApi.v1_events_upcoming_events_post"
      end
      # resource path
      local_var_path = '/v1/events/upcoming-events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_events_upcoming_events_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.v1_events_upcoming_events_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#v1_events_upcoming_events_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
