=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class HistoricalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List historical odds events (paginated)
    # Returns a paginated catalog of per-event historical odds files the authenticated client has access to. Each result entry carries pre-baked download URLs for the JSON and CSV payloads; clients GET those URLs directly. Results are scoped to the authenticated client; callers without a client association receive `403 Forbidden`. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :schema_version Payload schema version. Defaults to &#x60;v1&#x60; when omitted. Unknown versions are rejected. (default to 'v1')
    # @option opts [Integer] :sport_id 
    # @option opts [Integer] :league_id 
    # @option opts [Integer] :team_id Filter to events involving this team as either home or away.
    # @option opts [String] :start_date Inclusive lower bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @option opts [String] :end_date Inclusive upper bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Object]
    def v1_historical_events_get(opts = {})
      data, _status_code, _headers = v1_historical_events_get_with_http_info(opts)
      data
    end

    # List historical odds events (paginated)
    # Returns a paginated catalog of per-event historical odds files the authenticated client has access to. Each result entry carries pre-baked download URLs for the JSON and CSV payloads; clients GET those URLs directly. Results are scoped to the authenticated client; callers without a client association receive &#x60;403 Forbidden&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :schema_version Payload schema version. Defaults to &#x60;v1&#x60; when omitted. Unknown versions are rejected. (default to 'v1')
    # @option opts [Integer] :sport_id 
    # @option opts [Integer] :league_id 
    # @option opts [Integer] :team_id Filter to events involving this team as either home or away.
    # @option opts [String] :start_date Inclusive lower bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @option opts [String] :end_date Inclusive upper bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_historical_events_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoricalApi.v1_historical_events_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'sport_id'].nil? && opts[:'sport_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sport_id"]" when calling HistoricalApi.v1_historical_events_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'league_id'].nil? && opts[:'league_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"league_id"]" when calling HistoricalApi.v1_historical_events_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'team_id'].nil? && opts[:'team_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"team_id"]" when calling HistoricalApi.v1_historical_events_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling HistoricalApi.v1_historical_events_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling HistoricalApi.v1_historical_events_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling HistoricalApi.v1_historical_events_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/historical/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'schema_version'] = opts[:'schema_version'] if !opts[:'schema_version'].nil?
      query_params[:'sport_id'] = opts[:'sport_id'] if !opts[:'sport_id'].nil?
      query_params[:'league_id'] = opts[:'league_id'] if !opts[:'league_id'].nil?
      query_params[:'team_id'] = opts[:'team_id'] if !opts[:'team_id'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"HistoricalApi.v1_historical_events_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoricalApi#v1_historical_events_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download a per-event historical odds file
    # Resolves the requested per-event file for the authenticated client and streams the JSON or CSV payload back. The response body is the raw file content (not the manifest envelope); the API takes care of fetching the bytes from the underlying CDN so callers see a single HTTP call per file.  The `sha256` of the bytes-at-rest is exposed as a strong `ETag`. Clients can short-circuit with `If-None-Match` to receive `304 Not Modified`. `Range` requests are forwarded upstream and `206 Partial Content` responses are relayed unchanged — useful for resuming multi-MB CSV downloads. 
    # @param event_id [Integer] Canonical event identifier.
    # @param ext [String] File format. &#x60;json&#x60; returns &#x60;application/json&#x60;; &#x60;csv&#x60; returns &#x60;text/csv&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :schema_version Payload schema version. Defaults to &#x60;v1&#x60; when omitted. (default to 'v1')
    # @return [Object]
    def v1_historical_odds_event_id_ext_get(event_id, ext, opts = {})
      data, _status_code, _headers = v1_historical_odds_event_id_ext_get_with_http_info(event_id, ext, opts)
      data
    end

    # Download a per-event historical odds file
    # Resolves the requested per-event file for the authenticated client and streams the JSON or CSV payload back. The response body is the raw file content (not the manifest envelope); the API takes care of fetching the bytes from the underlying CDN so callers see a single HTTP call per file.  The &#x60;sha256&#x60; of the bytes-at-rest is exposed as a strong &#x60;ETag&#x60;. Clients can short-circuit with &#x60;If-None-Match&#x60; to receive &#x60;304 Not Modified&#x60;. &#x60;Range&#x60; requests are forwarded upstream and &#x60;206 Partial Content&#x60; responses are relayed unchanged — useful for resuming multi-MB CSV downloads. 
    # @param event_id [Integer] Canonical event identifier.
    # @param ext [String] File format. &#x60;json&#x60; returns &#x60;application/json&#x60;; &#x60;csv&#x60; returns &#x60;text/csv&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :schema_version Payload schema version. Defaults to &#x60;v1&#x60; when omitted. (default to 'v1')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_historical_odds_event_id_ext_get_with_http_info(event_id, ext, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HistoricalApi.v1_historical_odds_event_id_ext_get ...'
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling HistoricalApi.v1_historical_odds_event_id_ext_get"
      end
      if @api_client.config.client_side_validation && event_id < 1
        fail ArgumentError, 'invalid value for "event_id" when calling HistoricalApi.v1_historical_odds_event_id_ext_get, must be greater than or equal to 1.'
      end

      # verify the required parameter 'ext' is set
      if @api_client.config.client_side_validation && ext.nil?
        fail ArgumentError, "Missing the required parameter 'ext' when calling HistoricalApi.v1_historical_odds_event_id_ext_get"
      end
      # verify enum value
      allowable_values = ["json", "csv"]
      if @api_client.config.client_side_validation && !allowable_values.include?(ext)
        fail ArgumentError, "invalid value for \"ext\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/historical/odds/{event_id}.{ext}'.sub('{event_id}', CGI.escape(event_id.to_s)).sub('{ext}', CGI.escape(ext.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'schema_version'] = opts[:'schema_version'] if !opts[:'schema_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"HistoricalApi.v1_historical_odds_event_id_ext_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HistoricalApi#v1_historical_odds_event_id_ext_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
