=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class LinksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk deactivate links by filter
    # Soft-deletes all links matching a filter (e.g. a state goes offline).
    # @param v1_affiliates_links_bulk_deactivate_post_request [V1AffiliatesLinksBulkDeactivatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_links_bulk_deactivate_post(v1_affiliates_links_bulk_deactivate_post_request, opts = {})
      data, _status_code, _headers = v1_affiliates_links_bulk_deactivate_post_with_http_info(v1_affiliates_links_bulk_deactivate_post_request, opts)
      data
    end

    # Bulk deactivate links by filter
    # Soft-deletes all links matching a filter (e.g. a state goes offline).
    # @param v1_affiliates_links_bulk_deactivate_post_request [V1AffiliatesLinksBulkDeactivatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_bulk_deactivate_post_with_http_info(v1_affiliates_links_bulk_deactivate_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinksApi.v1_affiliates_links_bulk_deactivate_post ...'
      end
      # verify the required parameter 'v1_affiliates_links_bulk_deactivate_post_request' is set
      if @api_client.config.client_side_validation && v1_affiliates_links_bulk_deactivate_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_affiliates_links_bulk_deactivate_post_request' when calling LinksApi.v1_affiliates_links_bulk_deactivate_post"
      end
      # resource path
      local_var_path = '/v1/affiliates/links/bulk-deactivate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_affiliates_links_bulk_deactivate_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LinksApi.v1_affiliates_links_bulk_deactivate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinksApi#v1_affiliates_links_bulk_deactivate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk patch links by filter
    # Applies a patch to all links matching a filter (e.g. rewrite all FanDuel-NJ URLs on a domain change).
    # @param v1_affiliates_links_bulk_patch_request [V1AffiliatesLinksBulkPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_links_bulk_patch(v1_affiliates_links_bulk_patch_request, opts = {})
      data, _status_code, _headers = v1_affiliates_links_bulk_patch_with_http_info(v1_affiliates_links_bulk_patch_request, opts)
      data
    end

    # Bulk patch links by filter
    # Applies a patch to all links matching a filter (e.g. rewrite all FanDuel-NJ URLs on a domain change).
    # @param v1_affiliates_links_bulk_patch_request [V1AffiliatesLinksBulkPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_bulk_patch_with_http_info(v1_affiliates_links_bulk_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinksApi.v1_affiliates_links_bulk_patch ...'
      end
      # verify the required parameter 'v1_affiliates_links_bulk_patch_request' is set
      if @api_client.config.client_side_validation && v1_affiliates_links_bulk_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_affiliates_links_bulk_patch_request' when calling LinksApi.v1_affiliates_links_bulk_patch"
      end
      # resource path
      local_var_path = '/v1/affiliates/links/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_affiliates_links_bulk_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LinksApi.v1_affiliates_links_bulk_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinksApi#v1_affiliates_links_bulk_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk create/upsert links (JSON or CSV)
    # Upserts many links idempotently on the natural key. Accepts a JSON array of row objects or a text/csv body (header row). Per-row errors never fail the batch. Use ?dry_run=true to validate without persisting.
    # @param request_body [Array<Object>] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run When true, validates the whole batch and returns the per-row report without persisting. Always synchronous.
    # @option opts [Boolean] :async Force background processing. Batches of 500+ rows are queued automatically regardless of this flag. Queued batches return 202 with a job_id to poll at /v1/affiliates/links/jobs/{job_id}.
    # @return [Object]
    def v1_affiliates_links_bulk_post(request_body, opts = {})
      data, _status_code, _headers = v1_affiliates_links_bulk_post_with_http_info(request_body, opts)
      data
    end

    # Bulk create/upsert links (JSON or CSV)
    # Upserts many links idempotently on the natural key. Accepts a JSON array of row objects or a text/csv body (header row). Per-row errors never fail the batch. Use ?dry_run&#x3D;true to validate without persisting.
    # @param request_body [Array<Object>] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run When true, validates the whole batch and returns the per-row report without persisting. Always synchronous.
    # @option opts [Boolean] :async Force background processing. Batches of 500+ rows are queued automatically regardless of this flag. Queued batches return 202 with a job_id to poll at /v1/affiliates/links/jobs/{job_id}.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_bulk_post_with_http_info(request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinksApi.v1_affiliates_links_bulk_post ...'
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling LinksApi.v1_affiliates_links_bulk_post"
      end
      # resource path
      local_var_path = '/v1/affiliates/links/bulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dry_run'] = opts[:'dry_run'] if !opts[:'dry_run'].nil?
      query_params[:'async'] = opts[:'async'] if !opts[:'async'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/csv'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LinksApi.v1_affiliates_links_bulk_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinksApi#v1_affiliates_links_bulk_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List async bulk jobs
    # Recent async bulk jobs for the authenticated client.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_links_jobs_get(opts = {})
      data, _status_code, _headers = v1_affiliates_links_jobs_get_with_http_info(opts)
      data
    end

    # List async bulk jobs
    # Recent async bulk jobs for the authenticated client.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_jobs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinksApi.v1_affiliates_links_jobs_get ...'
      end
      # resource path
      local_var_path = '/v1/affiliates/links/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LinksApi.v1_affiliates_links_jobs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinksApi#v1_affiliates_links_jobs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll an async bulk job
    # Status, counts, and per-row errors for one async bulk job. Poll until status is \"completed\" or \"failed\". Scoped to the authenticated client.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_links_jobs_job_id_get(job_id, opts = {})
      data, _status_code, _headers = v1_affiliates_links_jobs_job_id_get_with_http_info(job_id, opts)
      data
    end

    # Poll an async bulk job
    # Status, counts, and per-row errors for one async bulk job. Poll until status is \&quot;completed\&quot; or \&quot;failed\&quot;. Scoped to the authenticated client.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_jobs_job_id_get_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinksApi.v1_affiliates_links_jobs_job_id_get ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling LinksApi.v1_affiliates_links_jobs_job_id_get"
      end
      # resource path
      local_var_path = '/v1/affiliates/links/jobs/{job_id}'.sub('{job_id}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LinksApi.v1_affiliates_links_jobs_job_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinksApi#v1_affiliates_links_jobs_job_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or upsert a single link
    # Creates a link, or updates the existing one on the natural key (operator + geography + category + campaign + label). Resolves operator, country, and region at write time; unresolvable codes return 422.
    # @param v1_affiliates_links_post_request [V1AffiliatesLinksPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_links_post(v1_affiliates_links_post_request, opts = {})
      data, _status_code, _headers = v1_affiliates_links_post_with_http_info(v1_affiliates_links_post_request, opts)
      data
    end

    # Create or upsert a single link
    # Creates a link, or updates the existing one on the natural key (operator + geography + category + campaign + label). Resolves operator, country, and region at write time; unresolvable codes return 422.
    # @param v1_affiliates_links_post_request [V1AffiliatesLinksPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_post_with_http_info(v1_affiliates_links_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinksApi.v1_affiliates_links_post ...'
      end
      # verify the required parameter 'v1_affiliates_links_post_request' is set
      if @api_client.config.client_side_validation && v1_affiliates_links_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_affiliates_links_post_request' when calling LinksApi.v1_affiliates_links_post"
      end
      # resource path
      local_var_path = '/v1/affiliates/links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_affiliates_links_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LinksApi.v1_affiliates_links_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinksApi#v1_affiliates_links_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
