=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class LookupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Affiliate networks
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_lookups_affiliate_networks_get(opts = {})
      data, _status_code, _headers = v1_affiliates_lookups_affiliate_networks_get_with_http_info(opts)
      data
    end

    # Affiliate networks
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_lookups_affiliate_networks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupsApi.v1_affiliates_lookups_affiliate_networks_get ...'
      end
      # resource path
      local_var_path = '/v1/affiliates/lookups/affiliate-networks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LookupsApi.v1_affiliates_lookups_affiliate_networks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupsApi#v1_affiliates_lookups_affiliate_networks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Offer categories
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_affiliates_lookups_offer_categories_get(opts = {})
      data, _status_code, _headers = v1_affiliates_lookups_offer_categories_get_with_http_info(opts)
      data
    end

    # Offer categories
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_lookups_offer_categories_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupsApi.v1_affiliates_lookups_offer_categories_get ...'
      end
      # resource path
      local_var_path = '/v1/affiliates/lookups/offer-categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LookupsApi.v1_affiliates_lookups_offer_categories_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupsApi#v1_affiliates_lookups_offer_categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Operator jurisdictions
    # Where we believe an operator is live. Informational only — not an upload gate.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :operator_id 
    # @option opts [String] :country_code 
    # @return [Object]
    def v1_affiliates_lookups_operator_jurisdictions_get(opts = {})
      data, _status_code, _headers = v1_affiliates_lookups_operator_jurisdictions_get_with_http_info(opts)
      data
    end

    # Operator jurisdictions
    # Where we believe an operator is live. Informational only — not an upload gate.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :operator_id 
    # @option opts [String] :country_code 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_lookups_operator_jurisdictions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupsApi.v1_affiliates_lookups_operator_jurisdictions_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'country_code'].nil? && opts[:'country_code'].to_s.length > 2
        fail ArgumentError, 'invalid value for "opts[:"country_code"]" when calling LookupsApi.v1_affiliates_lookups_operator_jurisdictions_get, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'country_code'].nil? && opts[:'country_code'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"country_code"]" when calling LookupsApi.v1_affiliates_lookups_operator_jurisdictions_get, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/affiliates/lookups/operator-jurisdictions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'operator_id'] = opts[:'operator_id'] if !opts[:'operator_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LookupsApi.v1_affiliates_lookups_operator_jurisdictions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupsApi#v1_affiliates_lookups_operator_jurisdictions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Operators
    # Paginated list of operators, optionally filtered by a free-text search term.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Object]
    def v1_affiliates_lookups_operators_get(opts = {})
      data, _status_code, _headers = v1_affiliates_lookups_operators_get_with_http_info(opts)
      data
    end

    # Operators
    # Paginated list of operators, optionally filtered by a free-text search term.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_lookups_operators_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupsApi.v1_affiliates_lookups_operators_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling LookupsApi.v1_affiliates_lookups_operators_get, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling LookupsApi.v1_affiliates_lookups_operators_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LookupsApi.v1_affiliates_lookups_operators_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling LookupsApi.v1_affiliates_lookups_operators_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/affiliates/lookups/operators'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"LookupsApi.v1_affiliates_lookups_operators_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupsApi#v1_affiliates_lookups_operators_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
