=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class ReferencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get betting market categories
    # Returns available betting market categories, optionally filtered by sport.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @return [Object]
    def v1_references_betting_market_categories_get(opts = {})
      data, _status_code, _headers = v1_references_betting_market_categories_get_with_http_info(opts)
      data
    end

    # Get betting market categories
    # Returns available betting market categories, optionally filtered by sport.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_betting_market_categories_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_betting_market_categories_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'sport_id'].nil? && opts[:'sport_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sport_id"]" when calling ReferencesApi.v1_references_betting_market_categories_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/betting-market-categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sport_id'] = opts[:'sport_id'] if !opts[:'sport_id'].nil?
      query_params[:'sport_key'] = opts[:'sport_key'] if !opts[:'sport_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_betting_market_categories_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_betting_market_categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all betting market positions
    # Returns all available betting market positions.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_references_betting_market_positions_get(opts = {})
      data, _status_code, _headers = v1_references_betting_market_positions_get_with_http_info(opts)
      data
    end

    # Get all betting market positions
    # Returns all available betting market positions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_betting_market_positions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_betting_market_positions_get ...'
      end
      # resource path
      local_var_path = '/v1/references/betting-market-positions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_betting_market_positions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_betting_market_positions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get betting markets (paginated)
    # Returns a paginated list of betting markets with optional sport filter and text search.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @option opts [String] :search Text search filter for betting market names
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :page_size Number of results per page (default to 100)
    # @return [Object]
    def v1_references_betting_markets_get(opts = {})
      data, _status_code, _headers = v1_references_betting_markets_get_with_http_info(opts)
      data
    end

    # Get betting markets (paginated)
    # Returns a paginated list of betting markets with optional sport filter and text search.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @option opts [String] :search Text search filter for betting market names
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :page_size Number of results per page (default to 100)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_betting_markets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_betting_markets_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'sport_id'].nil? && opts[:'sport_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sport_id"]" when calling ReferencesApi.v1_references_betting_markets_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_betting_markets_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_betting_markets_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_betting_markets_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/betting-markets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sport_id'] = opts[:'sport_id'] if !opts[:'sport_id'].nil?
      query_params[:'sport_key'] = opts[:'sport_key'] if !opts[:'sport_key'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_betting_markets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_betting_markets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get countries (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by country name
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [TrendsPaginatedResponse]
    def v1_references_countries_get(opts = {})
      data, _status_code, _headers = v1_references_countries_get_with_http_info(opts)
      data
    end

    # Get countries (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by country name
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(TrendsPaginatedResponse, Integer, Hash)>] TrendsPaginatedResponse data, response status code and response headers
    def v1_references_countries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_countries_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_countries_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_countries_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_countries_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/countries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_countries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_countries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get event periods
    # Returns available event periods, optionally filtered by sport.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @return [Object]
    def v1_references_event_periods_get(opts = {})
      data, _status_code, _headers = v1_references_event_periods_get_with_http_info(opts)
      data
    end

    # Get event periods
    # Returns available event periods, optionally filtered by sport.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_event_periods_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_event_periods_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'sport_id'].nil? && opts[:'sport_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sport_id"]" when calling ReferencesApi.v1_references_event_periods_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/event-periods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sport_id'] = opts[:'sport_id'] if !opts[:'sport_id'].nil?
      query_params[:'sport_key'] = opts[:'sport_key'] if !opts[:'sport_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_event_periods_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_event_periods_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get leagues (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :country_id 
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Format: {sport_key}. Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @option opts [String] :search 
    # @option opts [Boolean] :is_popular 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @option opts [String] :search_mode Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    # @return [Object]
    def v1_references_leagues_get(opts = {})
      data, _status_code, _headers = v1_references_leagues_get_with_http_info(opts)
      data
    end

    # Get leagues (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :country_id 
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Format: {sport_key}. Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @option opts [String] :search 
    # @option opts [Boolean] :is_popular 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @option opts [String] :search_mode Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_leagues_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_leagues_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'sport_id'].nil? && opts[:'sport_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sport_id"]" when calling ReferencesApi.v1_references_leagues_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_leagues_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_leagues_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_leagues_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/leagues'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country_id'] = opts[:'country_id'] if !opts[:'country_id'].nil?
      query_params[:'sport_id'] = opts[:'sport_id'] if !opts[:'sport_id'].nil?
      query_params[:'sport_key'] = opts[:'sport_key'] if !opts[:'sport_key'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'is_popular'] = opts[:'is_popular'] if !opts[:'is_popular'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search_mode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_leagues_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_leagues_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get odds formats (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [TrendsPaginatedResponse]
    def v1_references_odds_format_get(opts = {})
      data, _status_code, _headers = v1_references_odds_format_get_with_http_info(opts)
      data
    end

    # Get odds formats (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(TrendsPaginatedResponse, Integer, Hash)>] TrendsPaginatedResponse data, response status code and response headers
    def v1_references_odds_format_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_odds_format_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_odds_format_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_odds_format_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_odds_format_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/odds-format'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_odds_format_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_odds_format_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get operators (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by operator display name
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [TrendsPaginatedResponse]
    def v1_references_operators_get(opts = {})
      data, _status_code, _headers = v1_references_operators_get_with_http_info(opts)
      data
    end

    # Get operators (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by operator display name
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(TrendsPaginatedResponse, Integer, Hash)>] TrendsPaginatedResponse data, response status code and response headers
    def v1_references_operators_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_operators_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_operators_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_operators_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_operators_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/operators'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_operators_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_operators_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get players (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :team_id 
    # @option opts [String] :team_key Team external key (e.g. &#39;new-england-patriots&#39;, &#39;nfl.new-england-patriots&#39;). Format: {team_key} or {league_key}.{team_key}. Alternative to team_id. If both are provided, team_id takes precedence.
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @option opts [String] :search_mode Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    # @return [Object]
    def v1_references_players_get(opts = {})
      data, _status_code, _headers = v1_references_players_get_with_http_info(opts)
      data
    end

    # Get players (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :team_id 
    # @option opts [String] :team_key Team external key (e.g. &#39;new-england-patriots&#39;, &#39;nfl.new-england-patriots&#39;). Format: {team_key} or {league_key}.{team_key}. Alternative to team_id. If both are provided, team_id takes precedence.
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @option opts [String] :search_mode Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_players_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_players_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'team_id'].nil? && opts[:'team_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"team_id"]" when calling ReferencesApi.v1_references_players_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_players_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_players_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_players_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/players'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = opts[:'team_id'] if !opts[:'team_id'].nil?
      query_params[:'team_key'] = opts[:'team_key'] if !opts[:'team_key'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search_mode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_players_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_players_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sports (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [TrendsPaginatedResponse]
    def v1_references_sports_get(opts = {})
      data, _status_code, _headers = v1_references_sports_get_with_http_info(opts)
      data
    end

    # Get sports (paginated)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(TrendsPaginatedResponse, Integer, Hash)>] TrendsPaginatedResponse data, response status code and response headers
    def v1_references_sports_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_sports_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_sports_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_sports_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_sports_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/sports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_sports_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_sports_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get subnational regions (paginated)
    # @param country_id [Integer] Country ID to filter subnational regions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by subnational region name
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [TrendsPaginatedResponse]
    def v1_references_subnational_regions_get(country_id, opts = {})
      data, _status_code, _headers = v1_references_subnational_regions_get_with_http_info(country_id, opts)
      data
    end

    # Get subnational regions (paginated)
    # @param country_id [Integer] Country ID to filter subnational regions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search by subnational region name
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(TrendsPaginatedResponse, Integer, Hash)>] TrendsPaginatedResponse data, response status code and response headers
    def v1_references_subnational_regions_get_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_subnational_regions_get ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling ReferencesApi.v1_references_subnational_regions_get"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_subnational_regions_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_subnational_regions_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_subnational_regions_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/subnational-regions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country_id'] = country_id
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_subnational_regions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_subnational_regions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tag dimensions
    # Returns the top-level tag dimension categories. Use these as entry points to explore the tag hierarchy. Optionally filter to dimensions relevant to a specific flow type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :flow_type Filter by flow type eligibility.
    # @return [V1ReferencesTagDimensionsGet200Response]
    def v1_references_tag_dimensions_get(opts = {})
      data, _status_code, _headers = v1_references_tag_dimensions_get_with_http_info(opts)
      data
    end

    # Get tag dimensions
    # Returns the top-level tag dimension categories. Use these as entry points to explore the tag hierarchy. Optionally filter to dimensions relevant to a specific flow type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :flow_type Filter by flow type eligibility.
    # @return [Array<(V1ReferencesTagDimensionsGet200Response, Integer, Hash)>] V1ReferencesTagDimensionsGet200Response data, response status code and response headers
    def v1_references_tag_dimensions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_tag_dimensions_get ...'
      end
      allowable_values = ["fact_flows", "fun_flows", "plain_flows", "parlays", "singles"]
      if @api_client.config.client_side_validation && opts[:'flow_type'] && !allowable_values.include?(opts[:'flow_type'])
        fail ArgumentError, "invalid value for \"flow_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/references/tag-dimensions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'flow_type'] = opts[:'flow_type'] if !opts[:'flow_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ReferencesTagDimensionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_tag_dimensions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_tag_dimensions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search tag types
    # Search across tag types by keyword. Returns paginated results with breadcrumb paths for disambiguation. Use terminal_only combined with flow_type to find only tags that are usable as filters for a specific flow type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [String] :search_mode How the search term is matched. Defaults to &#39;starts_with&#39;.
    # @option opts [String] :dimension Limit results to a specific dimension (e.g. &#39;event&#39;, &#39;metadata&#39;).
    # @option opts [String] :flow_type Filter by flow type eligibility.
    # @option opts [Boolean] :terminal_only When true, returns only terminal (filterable) tag types. (default to false)
    # @option opts [Integer] :tag_level Restrict results to a specific hierarchy depth.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [TrendsPaginatedResponse]
    def v1_references_tag_types_search_get(opts = {})
      data, _status_code, _headers = v1_references_tag_types_search_get_with_http_info(opts)
      data
    end

    # Search tag types
    # Search across tag types by keyword. Returns paginated results with breadcrumb paths for disambiguation. Use terminal_only combined with flow_type to find only tags that are usable as filters for a specific flow type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [String] :search_mode How the search term is matched. Defaults to &#39;starts_with&#39;.
    # @option opts [String] :dimension Limit results to a specific dimension (e.g. &#39;event&#39;, &#39;metadata&#39;).
    # @option opts [String] :flow_type Filter by flow type eligibility.
    # @option opts [Boolean] :terminal_only When true, returns only terminal (filterable) tag types. (default to false)
    # @option opts [Integer] :tag_level Restrict results to a specific hierarchy depth.
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @return [Array<(TrendsPaginatedResponse, Integer, Hash)>] TrendsPaginatedResponse data, response status code and response headers
    def v1_references_tag_types_search_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_tag_types_search_get ...'
      end
      allowable_values = ["starts_with", "ends_with", "contains"]
      if @api_client.config.client_side_validation && opts[:'search_mode'] && !allowable_values.include?(opts[:'search_mode'])
        fail ArgumentError, "invalid value for \"search_mode\", must be one of #{allowable_values}"
      end
      allowable_values = ["fact_flows", "fun_flows", "plain_flows", "parlays", "singles"]
      if @api_client.config.client_side_validation && opts[:'flow_type'] && !allowable_values.include?(opts[:'flow_type'])
        fail ArgumentError, "invalid value for \"flow_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'tag_level'].nil? && opts[:'tag_level'] < 1
        fail ArgumentError, 'invalid value for "opts[:"tag_level"]" when calling ReferencesApi.v1_references_tag_types_search_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_tag_types_search_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_tag_types_search_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_tag_types_search_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/tag-types/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'search_mode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?
      query_params[:'dimension'] = opts[:'dimension'] if !opts[:'dimension'].nil?
      query_params[:'flow_type'] = opts[:'flow_type'] if !opts[:'flow_type'].nil?
      query_params[:'terminal_only'] = opts[:'terminal_only'] if !opts[:'terminal_only'].nil?
      query_params[:'tag_level'] = opts[:'tag_level'] if !opts[:'tag_level'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_tag_types_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_tag_types_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get child tag types
    # Returns the direct children of a given tag type, along with context about the parent (description and known values). Use this to navigate the tag hierarchy from dimensions down to individual filterable tags.
    # @param tag_type_id [Integer] Parent tag type ID to drill into.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_values When true, includes individual value-level leaf tags in the results. When false (default), value-level leaves are omitted — the parent&#39;s known_values field already enumerates them. (default to false)
    # @option opts [String] :flow_type Filter by flow type eligibility.
    # @return [V1ReferencesTagTypesTagTypeIdChildrenGet200Response]
    def v1_references_tag_types_tag_type_id_children_get(tag_type_id, opts = {})
      data, _status_code, _headers = v1_references_tag_types_tag_type_id_children_get_with_http_info(tag_type_id, opts)
      data
    end

    # Get child tag types
    # Returns the direct children of a given tag type, along with context about the parent (description and known values). Use this to navigate the tag hierarchy from dimensions down to individual filterable tags.
    # @param tag_type_id [Integer] Parent tag type ID to drill into.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_values When true, includes individual value-level leaf tags in the results. When false (default), value-level leaves are omitted — the parent&#39;s known_values field already enumerates them. (default to false)
    # @option opts [String] :flow_type Filter by flow type eligibility.
    # @return [Array<(V1ReferencesTagTypesTagTypeIdChildrenGet200Response, Integer, Hash)>] V1ReferencesTagTypesTagTypeIdChildrenGet200Response data, response status code and response headers
    def v1_references_tag_types_tag_type_id_children_get_with_http_info(tag_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_tag_types_tag_type_id_children_get ...'
      end
      # verify the required parameter 'tag_type_id' is set
      if @api_client.config.client_side_validation && tag_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_type_id' when calling ReferencesApi.v1_references_tag_types_tag_type_id_children_get"
      end
      if @api_client.config.client_side_validation && tag_type_id < 1
        fail ArgumentError, 'invalid value for "tag_type_id" when calling ReferencesApi.v1_references_tag_types_tag_type_id_children_get, must be greater than or equal to 1.'
      end

      allowable_values = ["fact_flows", "fun_flows", "plain_flows", "parlays", "singles"]
      if @api_client.config.client_side_validation && opts[:'flow_type'] && !allowable_values.include?(opts[:'flow_type'])
        fail ArgumentError, "invalid value for \"flow_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/references/tag-types/{tag_type_id}/children'.sub('{tag_type_id}', CGI.escape(tag_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_values'] = opts[:'include_values'] if !opts[:'include_values'].nil?
      query_params[:'flow_type'] = opts[:'flow_type'] if !opts[:'flow_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ReferencesTagTypesTagTypeIdChildrenGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_tag_types_tag_type_id_children_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_tag_types_tag_type_id_children_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get teams (paginated)
    # Returns a paginated list of teams. When neither `start_date` nor `end_date` is provided, only teams whose affiliation is currently active are returned. When either date is provided, the result is filtered to teams whose affiliation overlapped the requested window — useful for looking up teams that played in a league during a past season. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :league_id 
    # @option opts [String] :league_key League external key (e.g. &#39;nba&#39;, &#39;united-states.nba&#39;). Format: {league_key} or {country_key}.{league_key}. Alternative to league_id. If both are provided, league_id takes precedence.
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @option opts [String] :search_mode Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    # @option opts [String] :start_date Inclusive lower bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @option opts [String] :end_date Inclusive upper bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @return [Object]
    def v1_references_teams_get(opts = {})
      data, _status_code, _headers = v1_references_teams_get_with_http_info(opts)
      data
    end

    # Get teams (paginated)
    # Returns a paginated list of teams. When neither &#x60;start_date&#x60; nor &#x60;end_date&#x60; is provided, only teams whose affiliation is currently active are returned. When either date is provided, the result is filtered to teams whose affiliation overlapped the requested window — useful for looking up teams that played in a league during a past season. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :league_id 
    # @option opts [String] :league_key League external key (e.g. &#39;nba&#39;, &#39;united-states.nba&#39;). Format: {league_key} or {country_key}.{league_key}. Alternative to league_id. If both are provided, league_id takes precedence.
    # @option opts [String] :search 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :page_size  (default to 20)
    # @option opts [String] :search_mode Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    # @option opts [String] :start_date Inclusive lower bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @option opts [String] :end_date Inclusive upper bound on the event/affiliation date, ISO format YYYY-MM-DD.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_references_teams_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReferencesApi.v1_references_teams_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'league_id'].nil? && opts[:'league_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"league_id"]" when calling ReferencesApi.v1_references_teams_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReferencesApi.v1_references_teams_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_teams_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ReferencesApi.v1_references_teams_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/references/teams'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'league_id'] = opts[:'league_id'] if !opts[:'league_id'].nil?
      query_params[:'league_key'] = opts[:'league_key'] if !opts[:'league_key'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'search_mode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReferencesApi.v1_references_teams_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReferencesApi#v1_references_teams_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
