=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class ReportingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Impression/click rollups
    # Per-link, per-day impression and click counts for the authenticated client.
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :operator_id 
    # @option opts [String] :country_code 
    # @option opts [String] :subnational_region_code 
    # @option opts [String] :offer_campaign 
    # @option opts [String] :offer_label 
    # @return [Object]
    def v1_affiliates_links_clicks_get(start_date, end_date, opts = {})
      data, _status_code, _headers = v1_affiliates_links_clicks_get_with_http_info(start_date, end_date, opts)
      data
    end

    # Impression/click rollups
    # Per-link, per-day impression and click counts for the authenticated client.
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :operator_id 
    # @option opts [String] :country_code 
    # @option opts [String] :subnational_region_code 
    # @option opts [String] :offer_campaign 
    # @option opts [String] :offer_label 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_clicks_get_with_http_info(start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.v1_affiliates_links_clicks_get ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReportingApi.v1_affiliates_links_clicks_get"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReportingApi.v1_affiliates_links_clicks_get"
      end
      if @api_client.config.client_side_validation && !opts[:'country_code'].nil? && opts[:'country_code'].to_s.length > 2
        fail ArgumentError, 'invalid value for "opts[:"country_code"]" when calling ReportingApi.v1_affiliates_links_clicks_get, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'country_code'].nil? && opts[:'country_code'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"country_code"]" when calling ReportingApi.v1_affiliates_links_clicks_get, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'subnational_region_code'].nil? && opts[:'subnational_region_code'].to_s.length > 10
        fail ArgumentError, 'invalid value for "opts[:"subnational_region_code"]" when calling ReportingApi.v1_affiliates_links_clicks_get, the character length must be smaller than or equal to 10.'
      end

      # resource path
      local_var_path = '/v1/affiliates/links/clicks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'operator_id'] = opts[:'operator_id'] if !opts[:'operator_id'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'subnational_region_code'] = opts[:'subnational_region_code'] if !opts[:'subnational_region_code'].nil?
      query_params[:'offer_campaign'] = opts[:'offer_campaign'] if !opts[:'offer_campaign'].nil?
      query_params[:'offer_label'] = opts[:'offer_label'] if !opts[:'offer_label'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportingApi.v1_affiliates_links_clicks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#v1_affiliates_links_clicks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inventory counts
    # Active/inactive link counts grouped by the requested dimension.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_by  (default to 'operator')
    # @return [Object]
    def v1_affiliates_links_inventory_summary_get(opts = {})
      data, _status_code, _headers = v1_affiliates_links_inventory_summary_get_with_http_info(opts)
      data
    end

    # Inventory counts
    # Active/inactive link counts grouped by the requested dimension.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :group_by  (default to 'operator')
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_affiliates_links_inventory_summary_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.v1_affiliates_links_inventory_summary_get ...'
      end
      allowable_values = ["operator", "subnational_region", "offer_campaign", "offer_label", "operator_subnational_region", "operator_offer_campaign"]
      if @api_client.config.client_side_validation && opts[:'group_by'] && !allowable_values.include?(opts[:'group_by'])
        fail ArgumentError, "invalid value for \"group_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/affiliates/links/inventory-summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'group_by'] = opts[:'group_by'] if !opts[:'group_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportingApi.v1_affiliates_links_inventory_summary_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#v1_affiliates_links_inventory_summary_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
