=begin
#Odditt B2B Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module OddittApiClient
  class TrendsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get flows by betting market position IDs
    # @param v1_trends_by_betting_market_position_post_request [V1TrendsByBettingMarketPositionPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_trends_by_betting_market_position_post(v1_trends_by_betting_market_position_post_request, opts = {})
      data, _status_code, _headers = v1_trends_by_betting_market_position_post_with_http_info(v1_trends_by_betting_market_position_post_request, opts)
      data
    end

    # Get flows by betting market position IDs
    # @param v1_trends_by_betting_market_position_post_request [V1TrendsByBettingMarketPositionPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_by_betting_market_position_post_with_http_info(v1_trends_by_betting_market_position_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_by_betting_market_position_post ...'
      end
      # verify the required parameter 'v1_trends_by_betting_market_position_post_request' is set
      if @api_client.config.client_side_validation && v1_trends_by_betting_market_position_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_trends_by_betting_market_position_post_request' when calling TrendsApi.v1_trends_by_betting_market_position_post"
      end
      # resource path
      local_var_path = '/v1/trends/by-betting-market-position'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_trends_by_betting_market_position_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_by_betting_market_position_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_by_betting_market_position_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fact flow graph data
    # @param fact_flow_id [Integer] The fact flow ID to get graph data for
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_trends_flow_graph_data_fact_flow_id_get(fact_flow_id, opts = {})
      data, _status_code, _headers = v1_trends_flow_graph_data_fact_flow_id_get_with_http_info(fact_flow_id, opts)
      data
    end

    # Get fact flow graph data
    # @param fact_flow_id [Integer] The fact flow ID to get graph data for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_flow_graph_data_fact_flow_id_get_with_http_info(fact_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_flow_graph_data_fact_flow_id_get ...'
      end
      # verify the required parameter 'fact_flow_id' is set
      if @api_client.config.client_side_validation && fact_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'fact_flow_id' when calling TrendsApi.v1_trends_flow_graph_data_fact_flow_id_get"
      end
      if @api_client.config.client_side_validation && fact_flow_id < 1
        fail ArgumentError, 'invalid value for "fact_flow_id" when calling TrendsApi.v1_trends_flow_graph_data_fact_flow_id_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/trends/flow-graph-data/{fact_flow_id}'.sub('{fact_flow_id}', CGI.escape(fact_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_flow_graph_data_fact_flow_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_flow_graph_data_fact_flow_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get flow tooltip payload
    # @param flow_type [String] Type of flow (fact or fun)
    # @param flow_id [Integer] The flow ID to get tooltip data for
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_trends_flow_tooltip_flow_type_flow_id_get(flow_type, flow_id, opts = {})
      data, _status_code, _headers = v1_trends_flow_tooltip_flow_type_flow_id_get_with_http_info(flow_type, flow_id, opts)
      data
    end

    # Get flow tooltip payload
    # @param flow_type [String] Type of flow (fact or fun)
    # @param flow_id [Integer] The flow ID to get tooltip data for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_flow_tooltip_flow_type_flow_id_get_with_http_info(flow_type, flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_flow_tooltip_flow_type_flow_id_get ...'
      end
      # verify the required parameter 'flow_type' is set
      if @api_client.config.client_side_validation && flow_type.nil?
        fail ArgumentError, "Missing the required parameter 'flow_type' when calling TrendsApi.v1_trends_flow_tooltip_flow_type_flow_id_get"
      end
      # verify enum value
      allowable_values = ["fact", "fun"]
      if @api_client.config.client_side_validation && !allowable_values.include?(flow_type)
        fail ArgumentError, "invalid value for \"flow_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling TrendsApi.v1_trends_flow_tooltip_flow_type_flow_id_get"
      end
      if @api_client.config.client_side_validation && flow_id < 1
        fail ArgumentError, 'invalid value for "flow_id" when calling TrendsApi.v1_trends_flow_tooltip_flow_type_flow_id_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/trends/flow-tooltip/{flow_type}/{flow_id}'.sub('{flow_type}', CGI.escape(flow_type.to_s)).sub('{flow_id}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_flow_tooltip_flow_type_flow_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_flow_tooltip_flow_type_flow_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get flows by ids
    # @param v1_trends_flows_by_id_post_request [V1TrendsFlowsByIdPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_trends_flows_by_id_post(v1_trends_flows_by_id_post_request, opts = {})
      data, _status_code, _headers = v1_trends_flows_by_id_post_with_http_info(v1_trends_flows_by_id_post_request, opts)
      data
    end

    # Get flows by ids
    # @param v1_trends_flows_by_id_post_request [V1TrendsFlowsByIdPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_flows_by_id_post_with_http_info(v1_trends_flows_by_id_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_flows_by_id_post ...'
      end
      # verify the required parameter 'v1_trends_flows_by_id_post_request' is set
      if @api_client.config.client_side_validation && v1_trends_flows_by_id_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_trends_flows_by_id_post_request' when calling TrendsApi.v1_trends_flows_by_id_post"
      end
      # resource path
      local_var_path = '/v1/trends/flows-by-id'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_trends_flows_by_id_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_flows_by_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_flows_by_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get flows (paginated)
    # Same parameters as mixed-flows but returns non-mixed (single-type) flows. Uses the same underlying request model.
    # @param v1_trends_flows_post_request [V1TrendsFlowsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_trends_flows_post(v1_trends_flows_post_request, opts = {})
      data, _status_code, _headers = v1_trends_flows_post_with_http_info(v1_trends_flows_post_request, opts)
      data
    end

    # Get flows (paginated)
    # Same parameters as mixed-flows but returns non-mixed (single-type) flows. Uses the same underlying request model.
    # @param v1_trends_flows_post_request [V1TrendsFlowsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_flows_post_with_http_info(v1_trends_flows_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_flows_post ...'
      end
      # verify the required parameter 'v1_trends_flows_post_request' is set
      if @api_client.config.client_side_validation && v1_trends_flows_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_trends_flows_post_request' when calling TrendsApi.v1_trends_flows_post"
      end
      # resource path
      local_var_path = '/v1/trends/flows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_trends_flows_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_flows_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_flows_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Quote a batch of flows against the caller's configured check endpoint
    # Accepts a JSON array of 1..50 flow specifications and, for each one, forwards a hydrated payload to the URL the caller has registered under `/v1/account/check-endpoint`. Outbound calls run in parallel; the response is a JSON array with one entry per input item, in input order. Per-item failures are encoded in each entry's `status` (and `body`) so one bad operator response does not poison the others. Batch-level failures map to HTTP 4xx without an array body — 412 when the caller has not configured a check endpoint, 422 on validation failure.
    # @param trends_quote_flow_item [Array<TrendsQuoteFlowItem>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<TrendsQuoteItemResult>]
    def v1_trends_flows_quote_post(trends_quote_flow_item, opts = {})
      data, _status_code, _headers = v1_trends_flows_quote_post_with_http_info(trends_quote_flow_item, opts)
      data
    end

    # Quote a batch of flows against the caller&#39;s configured check endpoint
    # Accepts a JSON array of 1..50 flow specifications and, for each one, forwards a hydrated payload to the URL the caller has registered under &#x60;/v1/account/check-endpoint&#x60;. Outbound calls run in parallel; the response is a JSON array with one entry per input item, in input order. Per-item failures are encoded in each entry&#39;s &#x60;status&#x60; (and &#x60;body&#x60;) so one bad operator response does not poison the others. Batch-level failures map to HTTP 4xx without an array body — 412 when the caller has not configured a check endpoint, 422 on validation failure.
    # @param trends_quote_flow_item [Array<TrendsQuoteFlowItem>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TrendsQuoteItemResult>, Integer, Hash)>] Array<TrendsQuoteItemResult> data, response status code and response headers
    def v1_trends_flows_quote_post_with_http_info(trends_quote_flow_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_flows_quote_post ...'
      end
      # verify the required parameter 'trends_quote_flow_item' is set
      if @api_client.config.client_side_validation && trends_quote_flow_item.nil?
        fail ArgumentError, "Missing the required parameter 'trends_quote_flow_item' when calling TrendsApi.v1_trends_flows_quote_post"
      end
      if @api_client.config.client_side_validation && trends_quote_flow_item.length > 50
        fail ArgumentError, 'invalid value for "trends_quote_flow_item" when calling TrendsApi.v1_trends_flows_quote_post, number of items must be less than or equal to 50.'
      end

      if @api_client.config.client_side_validation && trends_quote_flow_item.length < 1
        fail ArgumentError, 'invalid value for "trends_quote_flow_item" when calling TrendsApi.v1_trends_flows_quote_post, number of items must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/trends/flows/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trends_quote_flow_item)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrendsQuoteItemResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_flows_quote_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_flows_quote_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mock operator pricing endpoint — for sandbox / development use
    # Drop-in stand-in for a real operator's pricing endpoint. Accepts ONE hydrated pricing payload (the exact shape that /v1/trends/flows/quote POSTs to a configured check endpoint) and returns synthetic pricing- response data with deterministic `button_payload` values and randomly- injected failure modes (~15% rate). Integrators wire this URL into /v1/account/check-endpoint as `url` to round-trip the widget call entirely on platform infrastructure without a real operator. Not for production traffic.
    # @param trends_quote_sandbox_request [TrendsQuoteSandboxRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TrendsQuoteSandboxResponse]
    def v1_trends_flows_quote_sandbox_post(trends_quote_sandbox_request, opts = {})
      data, _status_code, _headers = v1_trends_flows_quote_sandbox_post_with_http_info(trends_quote_sandbox_request, opts)
      data
    end

    # Mock operator pricing endpoint — for sandbox / development use
    # Drop-in stand-in for a real operator&#39;s pricing endpoint. Accepts ONE hydrated pricing payload (the exact shape that /v1/trends/flows/quote POSTs to a configured check endpoint) and returns synthetic pricing- response data with deterministic &#x60;button_payload&#x60; values and randomly- injected failure modes (~15% rate). Integrators wire this URL into /v1/account/check-endpoint as &#x60;url&#x60; to round-trip the widget call entirely on platform infrastructure without a real operator. Not for production traffic.
    # @param trends_quote_sandbox_request [TrendsQuoteSandboxRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrendsQuoteSandboxResponse, Integer, Hash)>] TrendsQuoteSandboxResponse data, response status code and response headers
    def v1_trends_flows_quote_sandbox_post_with_http_info(trends_quote_sandbox_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_flows_quote_sandbox_post ...'
      end
      # verify the required parameter 'trends_quote_sandbox_request' is set
      if @api_client.config.client_side_validation && trends_quote_sandbox_request.nil?
        fail ArgumentError, "Missing the required parameter 'trends_quote_sandbox_request' when calling TrendsApi.v1_trends_flows_quote_sandbox_post"
      end
      # resource path
      local_var_path = '/v1/trends/flows/quote-sandbox'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trends_quote_sandbox_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsQuoteSandboxResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_flows_quote_sandbox_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_flows_quote_sandbox_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get leagues with available flows
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Format: {sport_key}. Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @return [Object]
    def v1_trends_leagues_with_available_flows_get(opts = {})
      data, _status_code, _headers = v1_trends_leagues_with_available_flows_get_with_http_info(opts)
      data
    end

    # Get leagues with available flows
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sport_id 
    # @option opts [String] :sport_key Sport external key (e.g. &#39;american-football&#39;). Format: {sport_key}. Alternative to sport_id. If both are provided, sport_id takes precedence.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_leagues_with_available_flows_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_leagues_with_available_flows_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'sport_id'].nil? && opts[:'sport_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sport_id"]" when calling TrendsApi.v1_trends_leagues_with_available_flows_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/trends/leagues-with-available-flows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sport_id'] = opts[:'sport_id'] if !opts[:'sport_id'].nil?
      query_params[:'sport_key'] = opts[:'sport_key'] if !opts[:'sport_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_leagues_with_available_flows_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_leagues_with_available_flows_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get mixed flows (paginated)
    # @param v1_trends_flows_post_request [V1TrendsFlowsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def v1_trends_mixed_flows_post(v1_trends_flows_post_request, opts = {})
      data, _status_code, _headers = v1_trends_mixed_flows_post_with_http_info(v1_trends_flows_post_request, opts)
      data
    end

    # Get mixed flows (paginated)
    # @param v1_trends_flows_post_request [V1TrendsFlowsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def v1_trends_mixed_flows_post_with_http_info(v1_trends_flows_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_mixed_flows_post ...'
      end
      # verify the required parameter 'v1_trends_flows_post_request' is set
      if @api_client.config.client_side_validation && v1_trends_flows_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_trends_flows_post_request' when calling TrendsApi.v1_trends_mixed_flows_post"
      end
      # resource path
      local_var_path = '/v1/trends/mixed-flows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_trends_flows_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_mixed_flows_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_mixed_flows_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit a widget telemetry event
    # Records a single client-side widget interaction (impression, click, dwell, or cart action) for analytics. Accepts a typed envelope `{event_type, mode, event_body}`: `event_type` is a closed enum naming the interaction, optional `mode` describes the widget mode, and `event_body` is an arbitrary JSON object whose shape depends on the event. Available only to widget API keys. Fire-and-forget: returns `202 Accepted` once the event is queued; the response does not guarantee durable storage.
    # @param trends_widget_event_request [TrendsWidgetEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TrendsWidgetEventResponse]
    def v1_trends_widget_event_post(trends_widget_event_request, opts = {})
      data, _status_code, _headers = v1_trends_widget_event_post_with_http_info(trends_widget_event_request, opts)
      data
    end

    # Submit a widget telemetry event
    # Records a single client-side widget interaction (impression, click, dwell, or cart action) for analytics. Accepts a typed envelope &#x60;{event_type, mode, event_body}&#x60;: &#x60;event_type&#x60; is a closed enum naming the interaction, optional &#x60;mode&#x60; describes the widget mode, and &#x60;event_body&#x60; is an arbitrary JSON object whose shape depends on the event. Available only to widget API keys. Fire-and-forget: returns &#x60;202 Accepted&#x60; once the event is queued; the response does not guarantee durable storage.
    # @param trends_widget_event_request [TrendsWidgetEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrendsWidgetEventResponse, Integer, Hash)>] TrendsWidgetEventResponse data, response status code and response headers
    def v1_trends_widget_event_post_with_http_info(trends_widget_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrendsApi.v1_trends_widget_event_post ...'
      end
      # verify the required parameter 'trends_widget_event_request' is set
      if @api_client.config.client_side_validation && trends_widget_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'trends_widget_event_request' when calling TrendsApi.v1_trends_widget_event_post"
      end
      # resource path
      local_var_path = '/v1/trends/widget/event'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trends_widget_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TrendsWidgetEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"TrendsApi.v1_trends_widget_event_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrendsApi#v1_trends_widget_event_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
